template(name="addressForm")
  form.ui.form
    .field
      label Name
      .two.fields
        .field($b="class : { error : firstName.invalid}")
          input($b="value : firstName" type="text" placeholder="First Name")
        .field($b="class : { error : lastName.invalid}")
          input($b="value : lastName" type="text" placeholder="Last Name")
    .field($b="class : { error : streetAddress.invalid}")
      label Address
      input($b="value : streetAddress" type="text" placeholder="Street Address")
    .fields
      .twelve.wide.field($b="class : { error : city.invalid}")
        input($b="value : city" type="text", placeholder="City")
      .four.wide.field($b="class : { error : postalCode.invalid}")
        input($b="value : postalCode" type="text", placeholder="Postal Code")
    .two.fields
      .field($b="class : { error : state.invalid}, enable : stateEnabled")
        label State
        select.ui.dropdown($b="value : state, ref : stateSelect, options : states, optionsValue : abreviated, optionsText : name")
          //- option(value="") State
          //- option(value="AL") Alabama
          //- option(value="AK") Alaska
          //- option(value="AZ") Arizona
          //- option(value="AR") Arkansas
          //- option(value="CA") California
          //- option(value="CO") Colorado
          //- option(value="CT") Connecticut
          //- option(value="DE") Delaware
          //- option(value="DC") District Of Columbia
          //- option(value="FL") Florida
          //- option(value="GA") Georgia
          //- option(value="HI") Hawaii
          //- option(value="ID") Idaho
          //- option(value="IL") Illinois
          //- option(value="IN") Indiana
          //- option(value="IA") Iowa
          //- option(value="KS") Kansas
          //- option(value="KY") Kentucky
          //- option(value="LA") Louisiana
          //- option(value="ME") Maine
          //- option(value="MD") Maryland
          //- option(value="MA") Massachusetts
          //- option(value="MI") Michigan
          //- option(value="MN") Minnesota
          //- option(value="MS") Mississippi
          //- option(value="MO") Missouri
          //- option(value="MT") Montana
          //- option(value="NE") Nebraska
          //- option(value="NV") Nevada
          //- option(value="NH") New Hampshire
          //- option(value="NJ") New Jersey
          //- option(value="NM") New Mexico
          //- option(value="NY") New York
          //- option(value="NC") North Carolina
          //- option(value="ND") North Dakota
          //- option(value="OH") Ohio
          //- option(value="OK") Oklahoma
          //- option(value="OR") Oregon
          //- option(value="PA") Pennsylvania
          //- option(value="RI") Rhode Island
          //- option(value="SC") South Carolina
          //- option(value="SD") South Dakota
          //- option(value="TN") Tennessee
          //- option(value="TX") Texas
          //- option(value="UT") Utah
          //- option(value="VT") Vermont
          //- option(value="VA") Virginia
          //- option(value="WA") Washington
          //- option(value="WV") West Virginia
          //- option(value="WI") Wisconsin
          //- option(value="WY") Wyoming
      .field($b="class : { error : country.invalid}, change : countryChanged")
        label Country
        select.ui.search.dropdown($b="value : country, options: countries, ref : countrySelect")
          
    button.ui.right.floated.button($b="click : save") Save
