template(name="info")
  .ui.text.container.segment
    +markdown
      # Book Trading Club
      This web-app is a challenge for [freeCodeCamp](http://www.freeCodeCamp.com). Please read the [assignment](https://www.freecodecamp.com/challenges/manage-a-book-trading-club) and check out the sources [on github](https://github.com/JanMP/book-trading-club).
